@model WebApplication1.ViewModels.ProductsViewModel

<table class="table">
    <thead class="thead-light">
        <tr>
            <th></th>
            <th>Id</th>
            <th>Product Name</th>
            <th>Type of Product</th>
            @*<th>Active</th>*@
            @*<th>HomeFlag</th>
            <th>BestSellers</th>*@
            @*<th>Thumb</th>*@
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @if (Model.lsProduct.Any())
        {
            @foreach (var product in Model.lsProduct)
            {
                <tr class="accordion-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#collapse-@product.ProductId"
                    aria-expanded="false"
                    aria-controls="collapse-@product.ProductId">
                    <th class="expand-button">

                    </th>
                    <td>
                        #@product.ProductId
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <strong>@product.ProductName</strong>
                        </div>
                    </td>
                    <td>
                        @product.Level.LevelName
                    </td>
                    @*<td>
            @if (product.Active == true)
            {
            <div class="d-flex align-items-center">
            <div class="badge badge-success badge-dot m-r-10"></div>
            <div>Active</div>
            </div>
            }
            else
            {
            <div class="d-flex align-items-center">
            <div class="badge badge-danger badge-dot m-r-10"></div>
            <div>Non-Active</div>
            </div>
            }
            </td>*@
                    @*<td>
            @if (product.HomeFlag == true)
            {
            <div class="d-flex align-items-center">
            <div class="badge badge-success badge-dot m-r-10"></div>
            <div>HomeFlag</div>
            </div>
            }
            else
            {
            <div class="d-flex align-items-center">
            <div class="badge badge-danger badge-dot m-r-10"></div>
            <div>Non-HomeFlag</div>
            </div>
            }
            </td>*@
                    @*<td>
            @if (product.BestSellers == true)
            {
            <div class="d-flex align-items-center">
            <div class="badge badge-success badge-dot m-r-10"></div>
            <div>BestSellers</div>
            </div>
            }
            else
            {
            <div class="d-flex align-items-center">
            <div class="badge badge-danger badge-dot m-r-10"></div>
            <div>Non-BestSellers</div>
            </div>
            }
            </td>*@
                    @* <td>
            <img src="~/images/imgsProduct/@product.Thumb" width="80px" height="80px" style="background-color:white" alt="">
            </td>*@
                    @*<td class="text-right">
            <a class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" asp-controller="AdminWarehouse" asp-area="Admin" asp-action="DetailsCategory" asp-route-id="@product.ProductId">
            <i class="anticon anticon-eye"></i>
            </a>
            <a class="btn btn-icon btn-hover btn-sm btn-rounded" onclick="return confirm('Are you sure?')" asp-action="DeleteRole" asp-area="Admin" asp-controller="AdminPermission" asp-route-id="@product.ProductId">
            <i class="anticon anticon-delete"></i>
            </a>
            <a class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" asp-controller="AdminWarehouse" asp-area="Admin" asp-action="EditCategory" asp-route-id="@product.ProductId">
            <i class="anticon anticon-edit"></i>
            </a>
            </td>*@
                </tr>
                <tr id="collapse-@product.ProductId" class="hide-table-padding">
                    <td colspan="5">
                        <div id="collapse-@product.ProductId" class="collapse p-3">
                            <div class="tab-content m-l-15" id="myTabContentVertical">
                                <div class="tab-pane fade show active" id="home-vertical-@product.ProductId" role="tabpanel" aria-labelledby="home-tab-vertical-@product.ProductId">
                                    <div class="page-header no-gutters has-tab">
                                        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                                            <div class="media align-items-center m-b-15">
                                                <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                                                    <img src="~/images/imgsProduct/@product.Thumb" alt=""/>
                                                </div>
                                                <div class="m-l-15">
                                                    <h4 class="m-b-0">Product : @product.ProductName</h4>
                                                    <p class="text-muted m-b-0">Code: #@product.ProductId</p>
                                                </div>
                                            </div>
                                            <div class="m-b-15">
                                                @*<a class="btn btn-icon btn-hover btn-lg btn-rounded pull-right" onclick="return confirm('Are you sure?')" asp-action="DeleteRole" asp-area="Admin" asp-controller="AdminPermission" asp-route-id="@product.ProductId">
                                                    <i class="anticon anticon-delete"></i>
                                                </a>*@
                                                <a class="btn btn-icon btn-hover btn-lg btn-rounded pull-right" asp-controller="AdminWarehouse" asp-area="Admin" asp-action="EditProduct" asp-route-id="@product.ProductId">
                                                    <i class="anticon anticon-edit"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic-@product.ProductId">BASIC INFO</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#product-edit-seo-@product.ProductId">SEO INFO</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#product-edit-description-@product.ProductId">DESCRIPTION</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#image-edit-description-@product.ProductId">IMAGES</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-content m-t-15">
                                        <div class="tab-pane fade show active" id="product-edit-basic-@product.ProductId">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="media align-items-center">
                                                                <i class="font-size-40 text-success anticon anticon-smile"></i>
                                                                <div class="m-l-15">
                                                                    <p class="m-b-0 text-muted">10 ratings</p>
                                                                    <div class="star-rating m-t-5">
                                                                        <input type="radio" id="star3-5" name="rating-3" value="5" checked disabled /><label for="star3-5" title="5 star"></label>
                                                                        <input type="radio" id="star3-4" name="rating-3" value="4" disabled /><label for="star3-4" title="4 star"></label>
                                                                        <input type="radio" id="star3-3" name="rating-3" value="3" disabled /><label for="star3-3" title="3 star"></label>
                                                                        <input type="radio" id="star3-2" name="rating-3" value="2" disabled /><label for="star3-2" title="2 star"></label>
                                                                        <input type="radio" id="star3-1" name="rating-3" value="1" disabled /><label for="star3-1" title="1 star"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="media align-items-center">
                                                                <i class="font-size-40 text-primary anticon anticon-shopping-cart"></i>
                                                                <div class="m-l-15">
                                                                    <p class="m-b-0 text-muted">Sales</p>
                                                                    <h3 class="m-b-0 ls-1">1,521</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="media align-items-center">
                                                                <i class="font-size-40 text-primary anticon anticon-message"></i>
                                                                <div class="m-l-15">
                                                                    <p class="m-b-0 text-muted">Reviews</p>
                                                                    <h3 class="m-b-0 ls-1">27</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="media align-items-center">
                                                                <i class="font-size-40 text-primary anticon anticon-stock"></i>
                                                                <div class="m-l-15">
                                                                    <p class="m-b-0 text-muted">Available Stock</p>
                                                                    <h3 class="m-b-0 ls-1">152</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    @*<div class="table-responsive">
                                                        <table class="product-info-table m-t-20">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Price:</td>
                                                                    <td class="text-dark font-weight-semibold">$199.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Category:</td>
                                                                    <td>	Cloths</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Brand:</td>
                                                                    <td>H&M</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tax Rate:</td>
                                                                    <td>10%</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Status:</td>
                                                                    <td>
                                                                        <span class="badge badge-pill badge-cyan">In Stock</span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>*@
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="font-weight-semibold">Title</label>
                                                                <input readonly type="text" class="form-control" asp-for="@product.Title">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="font-weight-semibold">Product Name</label>
                                                                <input readonly type="text" class="form-control" asp-for="@product.ProductName">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="font-weight-semibold">Quantity</label>
                                                                <input readonly type="number" class="form-control" asp-for="@product.SoLuongBanDau">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="font-weight-semibold">Price</label>
                                                                <input readonly type="number" class="form-control" asp-for="@product.Price">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="font-weight-semibold">Weight</label>
                                                                <input readonly type="number" class="form-control" asp-for="@product.Height">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="font-weight-semibold">Discount</label>
                                                                <input readonly type="number" class="form-control" asp-for="@product.Discount">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="font-weight-semibold">Level</label>
                                                                @if (product.Level == null)
                                                                {
                                                                    <input readonly type="text" class="form-control" value="None-data" />
                                                                }

                                                                @if (product.Level != null)
                                                                {
                                                                    <input readonly type="text" class="form-control" value="@product.Level.LevelName" />
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="font-weight-semibold">Category</label>
                                                                @if (product.Category == null)
                                                                {
                                                                    <input readonly type="text" class="form-control" value="None-data" />
                                                                }

                                                                @if (product.Category != null)
                                                                {
                                                                    <input readonly type="text" class="form-control" value="@product.Category.CatName" />
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="font-weight-semibold">Unit</label>
                                                                @if (product.Unit == null)
                                                                {
                                                                    <input readonly type="text" class="form-control" value="None-data" />
                                                                }

                                                                @if (product.Unit != null)
                                                                {
                                                                    <input readonly type="text" class="form-control" value="@product.Unit.UnitName" />
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="font-weight-semibold">Unit Payment</label>
                                                                @if (product.UnitsPayment == null)
                                                                {
                                                                    <input readonly type="text" class="form-control" value="None-data" />
                                                                }

                                                                @if (product.UnitsPayment != null)
                                                                {
                                                                    <input readonly type="text" class="form-control" value="@product.UnitsPayment.UpayName" />
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="font-weight-semibold">Short Content</label>
                                                                <input readonly type="text" class="form-control" asp-for="@product.ShortDesc">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="product-edit-seo-@product.ProductId">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group d-flex align-items-center">
                                                                @if (product.Active == true)
                                                                {
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="badge badge-success badge-dot m-r-10"></div>
                                                                        <div>Active</div>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="badge badge-danger badge-dot m-r-10"></div>
                                                                        <div>Non-Active</div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group d-flex align-items-center">
                                                                @if (product.HomeFlag == true)
                                                                {
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="badge badge-success badge-dot m-r-10"></div>
                                                                        <div>HomeFlag</div>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="badge badge-danger badge-dot m-r-10"></div>
                                                                        <div>Non-HomeFlag</div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group d-flex align-items-center">
                                                                @if (product.BestSellers == true)
                                                                {
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="badge badge-success badge-dot m-r-10"></div>
                                                                        <div>BestSellers</div>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="badge badge-danger badge-dot m-r-10"></div>
                                                                        <div>Non-BestSellers</div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="font-weight-semibold">Meta Desc</label>
                                                                <input readonly type="text" class="form-control" asp-for="@product.MetaDesc" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="font-weight-semibold">Meta Key</label>
                                                                <input readonly type="text" class="form-control" asp-for="@product.MetaKey" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="product-edit-description-@product.ProductId">
                                            <div class="card">
                                                @*<div class="card-header">
                                                    <h4 class="card-title">Product Description</h4>
                                                </div>*@
                                                <div class="card-body">
                                                    @if (product.Description == null)
                                                    {
                                                        <p style="text-align:center">None-data</p>
                                                    }
                                                    @Html.Raw(product.Description)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="image-edit-description-@product.ProductId">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        @if (product.Thumb.ToString() != "default.jpg")
                                                        {
                                                            <div class="col-md-3">
                                                                <img class="img-fluid" height="150px" width="150px" src="~/images/imgsProduct/@product.Thumb" alt="">
                                                            </div>
                                                        }
                                                        @if (product.Image1.ToString() != "default.jpg")
                                                        {
                                                            <div class="col-md-3">
                                                                <img class="img-fluid" height="150px" width="150px" src="~/images/imgsProduct/@product.Image1" alt="">
                                                            </div>
                                                        }
                                                        @if (product.Image2.ToString() != "default.jpg")
                                                        {
                                                            <div class="col-md-3">
                                                                <img class="img-fluid" height="150px" width="150px" src="~/images/imgsProduct/@product.Image2" alt="">
                                                            </div>
                                                        }
                                                        @if (product.Image3.ToString() != "default.jpg")
                                                        {
                                                            <div class="col-md-3">
                                                                <img class="img-fluid" height="150px" width="150px" src="~/images/imgsProduct/@product.Image3" alt="">
                                                            </div>
                                                        }
                                                        @if (product.Image5.ToString() != "default.jpg")
                                                        {
                                                            <div class="col-md-3">
                                                                <img class="img-fluid" height="150px" width="150px" src="~/images/imgsProduct/@product.Image5" alt="">
                                                            </div>
                                                        }
                                                        @if (product.Image4.ToString() != "default.jpg")
                                                        {
                                                            <div class="col-md-3">
                                                                <img class="img-fluid" height="150px" width="150px" src="~/images/imgsProduct/@product.Image4" alt="">
                                                            </div>
                                                        }
                                                        @if (product.Image6.ToString() != "default.jpg")
                                                        {
                                                            <div class="col-md-3">
                                                                <img class="img-fluid" height="150px" width="150px" src="~/images/imgsProduct/@product.Image6" alt="">
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile-vertical-@product.ProductId" role="tabpanel" aria-labelledby="profile-tab-vertical-@product.ProductId">
                                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
